/* Grid */
.grid {
	display: grid !important;
    gap: 12px !important;
}

/* 100px é o valor total, ignora conteúdo, margem e etc. Respeita apenas o min-width do item.*/
.grid-template-columns-1 {
	grid-template-columns: 380px 380px 380px;
}

.label-info {
    margin-left: 5px;
    font-weight: 600;
}

.section-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.ten h1 {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.ten h1:before {
    background-color: #c50000;
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 42px;
    margin-bottom: 1.25rem;
}